.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.card-container{
    background: #FF99004D;
    text-align: center;

}
@media screen and (max-width:1000px) {
    
}